*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: #044040;
        color: white;
        display: flex;
        width: 100vw;
        height: 60vh;
        justify-content: center;
        align-items: center;
        }
        
        #quadro{

        background-color: white;
        width: 80vw;
        height: 50vh;
        margin-left: 0px;
        color: #044040;
        

          
        }
        
        #simbolquotes{
            position: relative;
            top: 50px;
            left: 15px;
            width: 26px;
            height: 26px;

        }
        
        #singlequotes{
            position: relative;
            top: 60px;
            left: 10px;
        }
        
        #author{
            position: relative;
            top: 80px;
            left: 130px;
        }
        
        #dedication {
            position: relative;
            top: 170px;
            left: 90px;
        
        }
        
        #twitter{
            position: relative;
            top: 110px;
            left: 20px; 
            width: 26px;
            height: 26px;
        }

        #facebook{
            position: relative;
            top: 110px;
            left: 30px; 
            width: 26px;
            height: 26px;
        }
        
        #btn{
            position: relative;
            top: 100px;
            left: 120px; 
            width: 100px;
            height: 40px;
            background-color: #044040;
            color: white;
        }
        
        #singlequotes{
            
            
        } 
   
}
@media screen and (min-width: 1024px){

/* color */


body{
width: 100vw;
height: 100vh;
background-color:#044040;
display: flex;
align-items: center;
justify-content: center;
}

#quadro{
  width: 50vw;
   height: 60vh; 
   background-color: white;
   opacity: 0.92;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   position: relative;
}

#simbolquotes{
    width: 36px;
    position: relative;
    left: 5%;
    top: 20%;
}

#singlequotes{
    position: relative;
    left: 12%;
    top: 10%; 
    max-width: 600px;
    width: 100%;
}

#author{
    position: relative;
    left: 55%;
    top: 20%; 
    color: #044040;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

#dedication {
    position: relative;
    left: 35%;
    top: 37%;
    font-style: bold;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #044040;

}

#twitter{
    position: relative;
    left: 5%;
    top: 30%;  
    height: 38px; 
}

#facebook{
    position: relative;
    left: 10%;
    top: 30%;  
    height: 38px; 
}

#btn{
    position: relative;
    left: 40%;
    top: 27%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    width: 140px;
    height: 38px; 
    background-color:#044040 ;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#singlequotes{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    color: #044040;
    
}

#author{

}

}